*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./1.png.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    padding: 30px;
    border: 1px solid greenyellow;
    border-radius: 4px;
    position: relative;
    margin-top: 70px;
}
.main .header-wrapper{
    margin-bottom: 42px;
}

.main .header-wrapper h3{
    font-size: 44px;
    color: rgb(6, 156, 74);
    border-bottom: 2px solid rgb(0, 184, 28);
    margin: 24px 0px;
    font-weight: 700;
}

.content-wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-bottom: 32px;
    font-size: 24px;
}

input{
    padding: 5px;
    font-size: 16px;
    width: 150px;
    font-weight: 500;
}

select{
    padding: 5px;
    font-weight: 600;
}
.bi-arrow-left-right{
    cursor: pointer;
    color: aliceblue;
}

.copyRight{
   position: absolute;
   bottom: 0;
   margin-bottom: 12px;
   color: goldenrod;
}

